// **** 0s: #011039
// **** 1st: #051745
// **** 2nd: #4A6099
// **** 2nd: #8296c8
// **** 4th: #e5edff
// **** 5th: #FFFFFF
// **** 5th: #edeba7


.contact
    padding: 10em 2em
    display: flex
    flex-direction: column
    align-items: center

    h1
        color: rgb(229, 237, 255)
        font-family: 'Spartan'
        font-size: 48px

    p
        width: 50%
        text-align: center
        color: rgb(170, 181, 213)
        font-size: 18px
        font-family: 'Fira Mono'
        line-height: 1.5

    a
        margin: 3em
        padding: 1.5em 4em
        border: solid 1px #8296c8
        color: #8296c8
        background: #8296c826
        text-decoration: none
        font-family: 'Spartan'
        font-size: 14px



