// **** 0s: #011039
// **** 1st: #051745
// **** 2nd: #4A6099
// **** 2nd: #8296c8
// **** 4th: #e5edff
// **** 5th: #FFFFFF
// **** 5th: #edeba7

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@800&display=swap')
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap')

body
    margin: 0px

.container
    margin: 0px
    padding: 0px
    background-color: #011039
    scroll-behavior: smooth


